.sign-up {
  position: relative;
  z-index: 0;
  margin-top: 637px; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 37px;
  color: #FFFFFF;
  margin-bottom: 53px;
}

form{
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #F2F2F2;
  margin: 30px 0;
}

.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field .forgot{
    display: none;
    position: absolute;
    bottom: -25px;
    right: 0;
    cursor: pointer;
    font-size: 14px;
    color: #FFFFFF;
}

.txt_field input:focus ~ .forgot{
    display: block;
}

.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #F2F2F2;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0px;
  height: 2px;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #FFFFFF;
}

.txt_field input:focus ~ span::before,
.txt_field input:Valid ~ span::before{
  width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #F2F2F2;
  cursor: pointer;
}


