.speech-bubble::before {
  content: "";
  position: absolute;
  top: 0; 
  left: -47px;
  width: 47px;
  height: 13px;
  border-top: 0px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 47px solid white;
  z-index: 2;
}

.speech-bubble::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -47px;
  width: 47px;
  height: 13px;
  border-top: 0px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 47px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.review-scroll {
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

.review-scroll::-webkit-scrollbar-thumb {
  background-color: #219653;
  border-radius: 5px;     
  width: 10px;     
}

.review-scroll::-webkit-scrollbar {
  width: 6px;
}