.period-radio {
    display: none;
}

.radio-outer {
    width: 25px;
    height: 25px;
    background-color: #F9F9F9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.1);
    transition: background-color 0.24s;
}

.radio-inner {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.24s;
}

.period-radio:checked + label .radio-inner {
    background-color: #18A615;
}