.cart-radio {
    display: none;
}
.cart-radio + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #DEE2EC;
}

.cart-radio:checked + label span {
    background-color: #219653;
    border: 4px solid #F2F2F2;
}

.cart-radio + label span, .cart-radio:checked + label span {
    -webkit-transition: background-color 0.24s linear;
    -o-transition: background-color 0.24s linear;
    -moz-transition: background-color 0.24s linear;
    transition: background-color 0.24s linear;
}


