


@media(max-width: 1440px) {
  .gird-box{
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-container{
    align-items: start;
    gap: 1rem;
  }

  .grid-scroll {
    max-height: 625px;
    overflow-y: auto;
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  }

  .grid-scroll::-webkit-scrollbar-thumb {
    background-color: #219653;
    border-radius: 5px;     
    width: 10px;     
  }

  .grid-scroll::-webkit-scrollbar {
    width: 6px;
  }
}