@media(max-width: 1440px) {
  .gird-box{
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-container{
    align-items: start;
    gap: 1rem;
  }
}

@media(max-width: 320px){
  .grid-box{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}