.orders {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.orders::-webkit-scrollbar-thumb {
  background-color: #219653;
  border-radius: 5px;     
  width: 10px;     
}

.orders::-webkit-scrollbar {
  width: 6px;
}

.no-gradient {
  mask-image: none !important;
  -webkit-mask-image: none !important;
} 