header{
    margin: 0;
    width: 100%;
    background-color: #65E36A;
    background: linear-gradient(#3CC742, #65E36A, #C2FFC5);  
    border-radius: 0 0 20px 20px;
}

.header-container{ 
    padding: 15px 0 15px 0;  
}

.header-wrapper{
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header-logo{
    width: 100.51873016357422px;
    height: 120px;
}

.title{
    display: flex;
    flex-direction: column;
    line-height: 16px;
}

.title h2{
    font-size: 48px;
    font-weight: 500;
    font-family: 'Roboto';
    color: #4F4F4F;
}

.title p{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #4F4F4F;
    max-width: 207px;
}

.nav-list{
    justify-content: space-between;
    width: 100%;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    padding-top: 63px;
}

.list{
    width: 800px;
}

.nav-list li{
    cursor: pointer;
    padding-bottom: 51px;
}

/* uxxelu */
.nav-list li:active{
    text-decoration: underline;
}

.not{
    width: 37;
    height: 38.33px;
}

.exit{
    width: 20px;
    height: 20px;
}

.profile{
    max-width: 337px;
}

.profile-btn{
    background-color: #27AE60;
    color: #FFFFFF;
    width: 263px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.profile-img{
    width: 40px;
    height: 40px;
}

.about-profile p{
    max-width: 212px;
    font-size: 16px;
    font-weight: 500;
}
