@media(max-width: 1300px){
    .title{
        font-size: 2.25rem;
    }
    .service-txt{
        font-size: 10px;
        max-width: 180px;
    }

    .nav-list{
        font-size: 1rem;
    }
    .profile{
        max-width: 300px;
        gap: 20px;
    }
    .profile-btn{
        width: 220px;
    }
    .name{
        font-size: 14px;
    }
}

@media(max-width: 1300px){
    .nav-list{
        max-width: 500px;
    }
    .div-xl{
        padding-right: 10px;
    }
}