.review-scroll {
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

.review-scroll::-webkit-scrollbar-thumb {
  background-color: #219653;
  border-radius: 5px;     
  width: 10px;     
}

.review-scroll::-webkit-scrollbar {
  width: 6px;
}