.register-btn{
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.07),
                inset 0px 4px 5px 0px rgba(242, 242, 242, 0.3);
}

@media(max-width: 768px){
    .register{
        display: flex;
        justify-content: start;
    }

    .logo-register{
        align-items: center;
        justify-content: start;
        gap: 45px;
    }

    .logo {
        width: 256px;
        height: 305px;
    }
}

@media(max-width: 320px){
    .register-btn{
        width: 300px;
    }
}