.language {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;  
    background-image: url('/images/arrow.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
    padding-right: 19px;
}

@media(max-width: 768px){
    .footer{
        display: none;
    }
}