.footer{
    width: 100%;
    background-color: #6BE070;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 400;
    padding: 54px 0 19px;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
}

.footer-txt{
    color: #F2F2F2; 
    font-size: 16px; 
    text-align: center;
    font-weight: 400;
}

.icons{
    width: 28px;
    height: 28px;
}

.language {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image: url('/images/arrow.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: #FFFFFF;
    color: #2C2C2C;
    border-radius: 10px;
    padding: 15px 25px 14px 19.33px;
    box-shadow: 0px 4px 0px 4px rgba(0, 0, 0, 0.16);
    font-size: 16px;
}

@media(max-width: 768px){
    .footer{
        display: none;
    }
}