.search-container{
    background: linear-gradient(to bottom, #3CC742, #C2FFC5);
    border-radius: 0 0 20px 20px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 31px 50px;
    max-width: 1520px;
    max-height: 246px;
}

.search-container h2{
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  margin-top: 23px;
  position: absolute;
  left: 20px;
  color: #BDBDBD;
}

.search-input {
  width: 100%;
  padding: 8px 8px 8px 35px;
  border-radius: 19px;
  border: none;
  background-color: #F6F6F6;
  width: 531px;
  height: 50px;
  font-size: 14px;
  margin-top: 23px;
}

.search-input:focus{
  outline: none;
}

.search-input::placeholder{
  color: #BDBDBD;
  padding-left: 4px;
}

.radio-option{
    display: flex;
    align-items: center;
}

.location-container{
    margin-top: 10px;
}

label{
    gap: 11px;
}

.placeholder-img{
    gap: 5.7px;
    font-size: 14px;
}

.placeholder-img img{
    width: 16.30434799194336px;
    height: 20px;
}

.location-name p{
    max-width: 65px;
}

input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    font-weight: 400;
    font-size: 10px;
}
input[type="radio"] + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #ffffff;
}
input[type="radio"] + label span {
    background-color: #fff;
}

input[type="radio"]:checked + label span {
    background-color: #219653;
    border: 3px solid #ffffff;
}
input[type="radio"] + label span, input[type="radio"]:checked + label span {
    -webkit-transition: background-color 0.24s linear;
    -o-transition: background-color 0.24s linear;
    -moz-transition: background-color 0.24s linear;
    transition: background-color 0.24s linear;
}

.radius{
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px;
    gap: 5px;
}

.radius-box{
    gap: 14px;
}

.radius label{
    font-size: 14px;
}

.radius-inp{
    background-color: #F6F6F6;
    color: black;
    width: 94px;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat';
    border-radius: 19px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.07);
    padding-left: 27px;
}

.radius-inp:focus{
    outline: none;
}

.km-m{
    gap: 9px;
}

.km-m-input {
  display: none;
}

label input.km-m-input + span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: #fff;
  transition: background-color 0.24s linear;
}

label input.km-m-input:checked + span {
  background-color: #219653;
  border: 3px solid #ffffff;
}

.search-btn{
    box-shadow: none;
    color: white;
    width: 228px;
    font-size: 14px;
    cursor: pointer;
}

.custom-select {
  width: 222px;
  max-height: 259px;
  font-family: 'Montserrat';
}

.selected {
  background: #F6F6F6;
  padding: 10px 15px;
  border-radius: 19px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.07);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 9px;
    border-radius: 19px;
    list-style: none;
    padding: 0;
    overflow-y: none;
    padding: 5px 15px;
}

.options li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 12px;
}

.options li:hover {
  background-color: #f0f0f0;
}

.icon {
  width: 20px;
  height: 20px;
}

.category{
    width: 222px;
    background-color: #F6F6F6;
    border-radius: 19px;
    overflow: hidden;
    transition: height 0.3s ease;
}

.dropdown-select{
    align-items: center;
    gap: 30px;
    margin-top: 23px;
}

