.conditions-scroll::-webkit-scrollbar {
  width: 10px;
}

.conditions-scroll::-webkit-scrollbar-track {
  background: transparent; 
}

.conditions-scroll::-webkit-scrollbar-thumb {
  background-color: #219653;
  border-radius: 5px;
}
